.container{
    position: relative; 
}


.image{
    display: block;
    float: left;
    justify-content: flex-start;
    width: 15rem;
    margin: auto 25px;
}

.icon{
    position: absolute; top:0; right:0;
    width: 2rem;
    height: 2rem;
    margin: 6px;
    /* background-color: whitesmoke; */
}